
      <div class="panel panel-default">
          <div class="card">
              <h5 class="card-header">Tibia Character Information</h5>
              <div class="card-body">
                  <div class="row">
                      <div class="col">
                        <p class="lead float-left"><b>Name:</b> Relentless Rektrim</p>
                      </div>
                    </div>
                    <div class="row">
                        <div class="col">
                          <p class="lead float-left"><b>Vocation:</b> Elder Druid</p>
                        </div>
                      </div>
                      <div class="row">
                          <div class="col">
                            <p class="lead float-left"><b>Level:</b> 319</p>
                          </div>
                      </div>
                      <div class="row">
                          <div class="col">
                            <p class="lead float-left"><b>Guild:</b> One of the Core</p>
                          </div>
                      </div>
                      <div class="row">
                          <div class="col">
                            <p class="lead float-left"><b>Residence:</b> Roshamuul</p>
                          </div>
                      </div>
                      <div class="row">
                          <div class="col">
                            <p class="lead float-left"><b>Latest Death By:</b> Relentless Sierska, Bugzy Malone, Yung Raffu</p>
                          </div>
                      </div>
                      <div class="row">
                          <div class="col">
                            <p class="lead float-left"><b>Last Login:</b> 2019-03-22T22h18m22s</p>
                          </div>
                      </div>
                      <div class="row">
                          <div class="col">
                            <p class="lead float-left"><b>Latest Death:</b> 2010-12-22T12h18m12s</p>
                          </div>
                      </div>
                      <div class="row">
                          <div class="col">
                            <p class="lead float-left"><b>Favorite Hunting Places: </b> Library, Plague Seal, Asuras</p>
                          </div>
                      </div>
              </div> 
        </div>